@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes sonar {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
body {
  font-size: 0.9rem;
}
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-brand > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*----------------page-wrapper----------------*/

.page-wrapper {
  height: 100vh;
}

.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
  .page-wrapper.toggled .page-content {
    padding-left: 250px;
  }
}
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
  z-index: 999999999999;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 260px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 999;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
  cursor: pointer;
  font-size: 20px;
}
/*--------------------sidebar-header----------------------*/

.sidebar-wrapper .sidebar-header {
  padding: 20px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic {
  float: left;
  width: 60px;
  padding: 2px;
  border-radius: 12px;
  margin-right: 15px;
  overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
  float: left;
}

.sidebar-wrapper .sidebar-header .user-info > span {
  display: block;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
  font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
  font-size: 11px;
  margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
  font-size: 8px;
  margin-right: 4px;
  color: #5cb85c;
}

/*-----------------------sidebar-search------------------------*/

.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
  font-weight: bold;
  font-size: 14px;
      padding: 20px 20px 5px 0px;
  display: inline-block;
}

.sidebar-wrapper .sidebar-menu ul li a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  position: relative;
  padding: 8px 30px 8px 20px;
}

.sidebar-wrapper .sidebar-menu ul li a i {
	margin-right: 0px;
    font-size: 17px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
  display: inline-block;
  animation: swing ease-in-out 0.5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  font-style: normal;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: 0 0;
  position: absolute;
  right: 15px;
  top: 14px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
  padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
  padding-left: 25px;
  font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px;
  font-size: 8px;
}

.sidebar-wrapper .sidebar-menu ul li a span.label,
.sidebar-wrapper .sidebar-menu ul li a span.badge {
  float: right;
  margin-top: 8px;
  margin-left: 5px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
  float: right;
  margin-top: 0px;
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}

/*--------------------------side-footer------------------------------*/

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.sidebar-footer > a {
  flex-grow: 1;
  text-align: center;
  height: 30px;
  line-height: 30px;
  position: relative;
}

.sidebar-footer > a .notification {
  position: absolute;
  top: 0;
}

.badge-sonar {
  display: inline-block;
  background: #980303;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  position: absolute;
  top: 0;
}

.badge-sonar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #980303;
  opacity: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  animation: sonar 1.5s infinite;
}

/*--------------------------page-content-----------------------------*/

.page-wrapper .page-content {
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  padding-top: 20px;
}

.page-wrapper .page-content > div {
  padding: 40px 40px;
}

.page-wrapper .page-content {
	overflow-x: hidden;
	position:relative;
    background-color: #f9f9f9;
}

/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background: #fff;
}

.chiller-theme .sidebar-wrapper .sidebar-header,
.chiller-theme .sidebar-wrapper .sidebar-search,
.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-top: 1px solid #3a3f48;
}

.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-role,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info .user-status,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text,
.chiller-theme .sidebar-wrapper .sidebar-brand>a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer>a {
    color: #545454;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover>a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a,
.chiller-theme .sidebar-wrapper .sidebar-header .user-info,
.chiller-theme .sidebar-wrapper .sidebar-brand>a:hover,
.chiller-theme .sidebar-footer>a:hover i {
    color: #444444;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #444444;
}

.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color: #3af199;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: unset;
}

.chiller-theme .sidebar-wrapper .sidebar-menu .header-menu span {
    color: #6c7b88;
}

.chiller-theme .sidebar-footer {
	background: #ffffff;
    box-shadow: 0px -1px 5px #dcdcdc;
    border-top: 1px solid #ffffff;
}

.chiller-theme .sidebar-footer>a:first-child {
    border-left: none;
}

.chiller-theme .sidebar-footer>a:last-child {
    border-right: none;
}

.sidebar-menu ul li a i
{
	float:unset;
}

.sidebar-menu ul li
{
    padding: 0 20px;	
}

.page-wrapper #sidebar ul li a {
    color: #444444;
    font-weight: 400;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.topHeader
{
    height: 51px;
    width: 100%;
	position: fixed;
    top: 0;
    left: 0;
	background-color: #fff;
	padding-left: 300px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
	z-index: 99;	
}


/* Vertical Tab Styling */

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: ##04f27f;
  width: 30%;
  height: 300px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
	width: 100%;
    background: #ffffff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px 2px #00000057;
}


/* Vertical Tab Styling End */


/* Profile Styling */

.profile-tab
{
    display: block;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 0px 14px 0 rgb(165 165 165 / 20%);
    color: #6f6f6f;
    border-radius: 6px;	
}

.profile-content 
{
    padding: 14px 20px;
    border-radius: 6px;
}

.profile-content h2
{
	margin-bottom: 20px;
}

.profile-content h2 a 
{
    float: right;
    background: #fd9f5d;
    padding: 10px;
    display: block;
    border-radius: 4px;
    margin-top: -10px;
    font-size: 13px;
    color: #fff;
}

a.edit-p 
{
    padding: 10px 10px !important;
    margin: 0 !important;
    line-height: 15px;
    background: #04f27f !important;
    font-weight: 500;
}

.profile-content table
{
	width: 100%;
}

.profile-content table td {
    padding: 10px;
    border: 1px solid #cccccc87;
    color: #6f6f6f;
}

.customWebsiteHeading
{   
    padding: 0 !important;
    line-height: 0 !important;
	vertical-align: middle !important;
    font-size: 16px;
    font-weight: 400;	
}

.customWebsiteInput
{
	width: 100%;
    height: 45px;
	outline: 0;
	box-shadow: unset;	
    padding-left: 15px;
    border: 1px solid #bbb;
    border-radius: 20px;
}

.table_upload 
{
	position: relative;
	overflow: hidden;
	width: 100%;
    background-color: #bbbbbb;
    border: 1px solid #bbbbbb;
    border-radius: 50px;
    color: #ffffff;
}

.dataModal .btn-primary:not(:disabled):not(.disabled).active, .dataModal .btn-primary:not(:disabled):not(.disabled):active, .dataModal .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.dataModal .btn-primary:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.dataModalFooter .btn-primary
{
	color: #fff;
	background-color: #04f27f;
}

.table_upload input 
{
	position: absolute;
	font-size: 50px;
	opacity: 0;
	right: 0;
	top: 0;
}

.modal-header h4.modal-title 
{
    font-weight: 800;
}

.table-striped tbody tr:nth-of-type(even) 
{
    border-top: 1px solid #afafaf;
	background-color:unset;
}

#myModal
{
	top:20%;
}

/* Profile Styling End */

/* Templates Styling */


.template1, .template2, .template3, .template4, .template5, .template6, .template7, .template8, .template9, .template10
{
	position:relative;
}

.card-body
{	
	bottom:0;
	width:100%;
	position:absolute;
	background-color: #ffffff;
	border-top: 1px solid #d6d6d6;
}

.template1
{
	position:relative;
	/* height: 420px; */
	box-shadow: 0 0px 14px 0 rgb(165 165 165 / 20%);
}

.template1-content 
{
    padding: 14px 20px;
    border-radius: 6px;
}

.template1-tab 
{
    display: block;
    background: #fff;
    color: #6f6f6f;
    border-radius: 6px;
}

.template1-content table {
    width: 100%;
}

.template1-content table td {
    padding: 10px;
    border-bottom: 1px solid #cccccc87;
    color: #6f6f6f;
}

.template1-content table tr:last-child td {
    border-bottom: unset;
}

.titleHead
{
	font-size: 14px;
    font-weight: 600	
}

.templateWrapper
{	    
	width: 100%;
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 6%;
	grid-row-gap: 6%;
    justify-content: center;
}


.template2
{
	position:relative;
	height: 490px;
	box-shadow: 0 0px 14px 0 rgb(165 165 165 / 20%);
}

.template2-content 
{
    padding: 14px 20px;
    border-radius: 6px;
}

.template2-tab 
{
    display: block;
    background: #fff;
    color: #6f6f6f;
    border-radius: 6px;
	height: 100%;
}

.template2-content table {
    width: 100%;
}

.template2-content table td {
    padding: 10px;
    border-bottom: 1px solid #cccccc87;
	border-right: 1px solid #cccccc87;
    color: #6f6f6f;
}

.template2-content table td:last-child
{
	border-right: unset;
}

.template2-content table tr:last-child td {
    border-bottom: unset;
}

.titleHead
{
	font-size: 14px;
    font-weight: 600;
    width: 100%;	
}

.template_content
{
	display:flex;
}

.topBannerWrapper
{
	display: flex;
	justify-content: space-between;
}

.topBannerWrapper img
{
	width: 80px;
}

.template2 .titleHead 
{
    font-size: 14px;
    font-weight: 600;
    width: 220px;
    padding: 0 !important;
}

.template3 
{
	position: relative;
    height: 586px;
    padding: 10px;
    background-color: #FF7575;
    box-sizing: border-box;
    box-shadow: 0 0px 14px 0 rgb(165 165 165 / 20%);
}

.template3 .template_content
{
	display: flex;
    width: 100%;
    justify-content: space-between;	
}

.template3 .template3-content
{
    background-color: #fff;
    height: 250px;
    padding: 10px;
    border-radius: 4px;
    width: 49%;
}

.template3 .template3-content table
{
	width:100%;
}

.template3 .template3-content tr
{
	height: 35px;
	
}

.template3 .template3-content tr td
{
	border-bottom:1px solid #cccccc87;
	
}

.template3 .template3-content tr:last-child td
{
	border-bottom:unset;
	
}

.template3 .card-body 
{
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    background-color: #ffffff;
    border-top: 1px solid #d6d6d6;
}

.template3 .bottomBanner
{
	margin-top: 10px;
}

/* Templates Styling End */

/* Extra */

.alreadyHaveAccount
{
	text-align: center;
    margin-top: 10px;	
}

/* Extra */