body
{
	font-family: 'Poppins', sans-serif;
}

.desktoplogo
{
    padding: 0;
}

.desktoplogo img 
{
    width: 250px;
    margin-top: 12px;
}

.font-weight-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
}

.bg-background:before, .bg-background2:before, .bg-background-color:before, .bg-background3:before, .bg-background-5:before, .bg-background-6:before, .slider-header .item:before {
    /* background: linear-gradient(to right, rgba(22, 80, 226, 0.95) 0%, rgba(126, 81, 236, 0.95) 100%); */
	background: linear-gradient(to right, rgb(6 242 128 / 80%) 0%, rgb(1 1 1 / 42%) 100%);

}

.header-main
{
    z-index: 1;
}

.bg-background2:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
    top: 0;
}

.top-bar 
{
	height:100%;
	border-bottom: 1px solid #e8ebf3;
	background: linear-gradient(135deg, #1650e2 0%, #7e51ec 100%);
}

.horizontalMenu ul li a.btn {
    font-size: 14px !important;
    margin: 2px 0;
    margin-bottom: 0;
    color: #343a40;
    background-color: unset;
    font-weight: 500;
    border: 1px solid #9afacc;
}

.horizontalMenu ul li a.btn:hover {
	color: #ffffff;
    background-color: #04f27f;
}

.startaspartner a:hover
{
	color: #04f27f;
}

.create-resume-btn:before {
    content: unset;
    position: absolute;
    width: 1px;
    height: 40px;
    left: -6px;
    background: #e8ebf3;
    top: 4px;
}

.top-bar-left .socials
{
	display: flex;
    justify-content: space-around;
    width: 100%;
	list-style-type: none;
}

.top-bar-left
{
	height: 100%;
    display: flex;
    /* background-color: #fff; */
}

.top-bar-right .custom
{
	display: flex;
    justify-content: space-around;
    width: 100%;
	list-style-type: none;
}

.top-bar-right .custom li a
{
	display:flex;
}

.top-bar-right .custom li a i, .top-bar-right .custom li a, .top-bar-left .socials li a i, .callnumber 
{
	color:#fff;
	line-height: 31px;
}

.top-bar-right .custom li span
{
	margin-left:10px;
}

.align_vcenter
{
	display: flex;
	flex-direction:column;
    justify-content: center;
    width: 100%;
	list-style-type: none;	
}

.startaspartner
{
    line-height: 40px;	
}

.startaspartner a
{
    color: #3a3a40;
    font-weight: 500;
	    padding: 0px 15px;
}


/* Navigation Bar */

.logo {
  max-width: 200px;
}

.navbar {
  align-items: center;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  padding: 10px 50px;
}

.push-left {
  margin-left: auto;
}

.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger-line {
  background: #272727;
  height: 3px;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamburger:hover .hamburger-line {
  background: #777;
}
.hamburger-line-top {
  top: 3px;
}
.menu-active .hamburger-line-top {
  top: 50%;
  transform: rotate(45deg) translatey(-50%);
}
.hamburger-line-middle {
  top: 50%;
  transform: translatey(-50%);
}
.menu-active .hamburger-line-middle {
  left: 50%;
  opacity: 0;
  width: 0;
}
.hamburger-line-bottom {
  bottom: 3px;
}
.menu-active .hamburger-line-bottom {
  bottom: 50%;
  transform: rotate(-45deg) translatey(50%);
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    background: #fff;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
    text-align: center;
  }
  .menu-active .nav-menu {
    transform: translatey(0%);
    opacity: 1;
  }
}
.nav-menu .menu-item a {
  color: #444444;
  display: block;
  line-height: 30px;
  margin: 0px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-menu .menu-item a:hover {
  color: #777777;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .nav-menu .menu-item a {
    font-size: 20px;
    margin: 8px;
  }
}

.sub-nav {
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 5px 5px;
  list-style: none;
  width: 230px;
}
@media screen and (max-width: 768px) {
  .sub-nav {
    position: relative;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
}

.nav__link:hover + .sub-nav {
  display: block;
}

.sub-nav:hover {
  display: block;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgb(4 242 127);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #04f27f;
    border-color: #04f27f;
}

/* Navigation Bar */

.main-search-input 
{
    margin-top: 50px;
    border-radius: 50px;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 9px;
    max-height: 68px;
    margin-left: auto;
    margin-right: auto;
}

.main-search-input-item.location .fa-map-marker-alt
{
	content: "\f3c5";
    font-family: 'Font Awesome 5 Pro';
    top: 2px;
    font-size: 18px;
    margin: 1px 0 0 0;
    right: 20px;
    position: relative;
    width: auto;
    height: auto;
    display: inline-block;
    color: #c0c0c0;
    float: right;
    font-weight: unset;
    transition: transform 0.3s;
    transform: translate3d(0,0,0) rotate(0deg);	
}


/* Search Bar */


.main-search-input-item .chosen-container:last-child
{
	display:none;
}

.main-search-input button.button {
    all: unset;
    font-size: 18px;
    font-weight: 600;
    padding: 0 40px;
    margin-right: 1px;
    height: 50px;
    outline: none;
    border-radius: 50px;
    background: linear-gradient(to right, rgb(6 242 128 / 80%) 0%, rgb(1 1 1 / 42%) 100%);
	cursor: pointer;
}

.fal
{ 
	content: "\f3c5";
    font-family: 'Font Awesome 5 Pro';
    top: 2px;
    font-size: 25px;
    margin: 1px 0 0 0;
    right: 20px;
    position: relative;
    width: auto;
    height: auto;
    display: inline-block;
    color: #c0c0c0;
    float: right;
    font-weight: normal;
    transition: transform 0.3s;
    transform: translate3d(0,0,0) rotate(0deg);
}

/* Search Bar End */


/* Recommended Services Styling */

.featured-box {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 18px 0 rgb(198 198 198 / 30%);
    margin-bottom: 15px;
    margin-top: 15px;
}

.featured-box figure {
    margin: 0;
    width: 100%;
    float: left;
    position: relative;
}

.featured-box figure .icon i {
    background: #00bcd4;
}

.featured-box figure .icon i {
    top: 10px;
    right: 10px;
    z-index: 2;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    position: absolute;
    background: #00bcd4;
    padding: 10px;
    display: inline-block;
    border-radius: 50%;
}

.featured-box .feature-content {
    display: inline-block;
    padding: 0 20px 10px;
}

.featured-box .feature-content .product {
    width: 100%;
    float: left;
    font-size: 13px;
    line-height: 18px;
    list-style: none;
    margin: 0 0 12px;
    padding: 15px 0 10px;
    border-bottom: 1px solid #eee;
}

.featured-box .feature-content .product a {
    color: #00bcd4;
}

.featured-box .feature-content .product a i {
    margin-right: 5px;
}

.featured-box .feature-content h4 {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.featured-box .feature-content span {
    margin-bottom: 10px;
    display: block;
    font-size: 13px;
    color: #999;
}

.featured-box .feature-content ul.address {
    margin-bottom: 10px;
    display: inline-block;
}

.featured-box .feature-content ul.address li {
    float: left;
    width: 50%;
    line-height: 30px;
    color: #999;
}

.featured-box .feature-content ul.address li a {
    color: #999;
}

.recommendedSection
{
	background-color: #ffff;	
}

.border_styling
{
	width: 50%;
    position: absolute;
    left: -3%;
    background: rgb(93 87 231);
    color: rgb(255, 255, 255);
    border-color: rgb(30, 32, 35) transparent;
}

.border_styling:before {
    position: absolute;
    bottom: -9px;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-color: inherit;
    left: 0;
    border-width: 9px 0 0 9px;
}

.discount_text
{
    padding: 6px 10px;
}

.about-with-promo
{
	background: #fff;
    padding: 3rem 0;
}

.about-with-promo .color-secondary 
{
    color: #04f27f;
}

.about-with-promo h2 {
    font-size: 2.441em;
}

.about-with-promo .animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #04f27f;
    overflow: hidden;
}

.check-list-info li
{
	position:relative;
	padding-left: 30px;
	margin-bottom: 15px;
}

.about-with-promo .check-list-info li:before {
    position: absolute;
    top: 0px;
    left: 0;
    font-family: 'Font Awesome 5 Pro';
    content: "\f058";
    font-weight: 900;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #04f27f;
}

/* Recommended Services Styling End */


/* FAQ */

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid #14f387;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  color: #000;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #14f387;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #14f387;
  border: 1px solid #14f387;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded=true] {
  color: #14f387;
}
.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

/* FAQ End */

/* Call to action styling */

.frequently 
{
    padding: 30px 0px;
    background: #3af199;
}

.frequently 
{
    text-align: center;
}

.frequently h2 
{
    color: #fff;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 25px;
    margin-top: 0;
}

.frequently a 
{
    background: #fff;
    border-radius: 80px;
    padding: 10px 50px;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 18px;
}

.frequently p 
{
    color: #fff;
    width: 40%;
    margin: 0 auto;
    line-height: 21px;
}


/* Call to action styling end */


/* Footer */

#footer {
    padding: 30px 0 0 0;
    background-color: #ffffff;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.09);
    font-size: 16px;
}

#footer.sticky-footer { box-shadow: none; }
#footer.dark { border-top: none; }

#footer h4 {
	color: #000;
    font-size: 21px;
    margin-bottom: 25px;
    text-align: left;
}

.footer-shadow {
	width: 100%;
	display: block;
	background: #fff;
	height: 200px;
	margin-top: -200px;
	position: relative;
	z-index: -1;
	box-shadow: 0 20px 40px -20px rgba(0,0,0,0.06);
}

.text-widget span { color: #000; font-size: 14px;}
.text-widget span.address { display: block; margin-bottom: 10px;font-size: 14px;}

#footer a {
	color: #000;
}

/*  Links  */
#footer ul.footer-links {
	margin: 0 0 15px 0;
	padding: 0;
	width: 50%;
	box-sizing: border-box;
	display: inline-block;
	float: left;
}

#footer .footer-links li 
{ 
	position: relative; 
	list-style: none; 
    padding: 0;
    text-align: left;
}

#footer .footer-links li a {
	font-size: 14px;
	padding: 0 0 9px 16px;
	display: inline-block;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #000;
	line-height: 21px;
}

#footer .footer-links li a:hover {
	padding-left:22px;
	color: #66676b;
}

#footer .footer-links li:before {
    font-family: 'Font Awesome 5 Pro';
    font-size: 11px;
    content: "\f054";
    position: absolute;
    left: 0;
    top: 4px;
    padding: 0 7px 0 0;
    color: #000;
}

.sticky-footer p
{
	font-size: 14px;
}

.customFooterPhone
{
	font-size: 14px;
	font-weight: 500;
}

.customFooterEmail
{
	font-size: 14px;
	font-weight: 500;
}


/* Footer Bottom */

.copyrights {
    color: #000;
    border-top: 1px solid #000;
    margin-top: 20px;
    text-align: center;
    padding: 10px 0;
    display: inline-block;
    width: 100%;
}

#footer.alt .copyrights {
	margin-top:0;
	border: none;
	padding: 25px;
}

.copyrights a { color: #707070; }


/* Dark Styles */
#footer.dark {
	background: #222;
	color: #aaa;
}

#footer.dark a,
#footer.dark h4,
#footer.dark a:hover {
	color: #fff;
}

#footer.dark .text-widget,
#footer.dark .text-widget span,
#footer.dark .footer-links li a {
	color: #aaa;
}

#footer.dark .footer-links li a:hover { color: #fff; }
#footer.dark .footer-links li:before { color: #666; }

#footer.dark .copyrights {
	color: #aaa;
	border-top: 1px solid rgba(255,255,255,0.09);
}

#footer .social-icons li a {
    opacity: 0.8;
    transition: opacity 0.35s;
	text-align: center;
}

#footer .social-icons li a:hover { opacity: 1; }


.text-widget
{
	text-align:left;
	margin-bottom:20px;
}

.social-icons
{
	text-align:left;
}

.footer-logo.customLogo
{
    width: 300px;
}

.social-icons li a 
{
    color: #fff;
    margin-right: 15px;
    display: block;
    list-style: none;
    font-size: 15px;
    width: 40px;
    height: 40px;
    margin: 1px;
    border-radius: 50%;
    border: 1px solid rgb(0 0 0);
    line-height: 40px;
}

/* Footer End */


/* Listing Page */

.bigHeader
{
	position:relative;
	background-color:red;
	height:120px;
	display: flex;
    flex-direction: column;
    justify-content: center;	
}

.bigHeader:before
{
	content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
    top: 0;
    background: linear-gradient(to right, rgb(6 242 128 / 80%) 0%, rgb(1 1 1 / 42%) 100%);	
}

.tcent
{
    text-align: center;
    font-size: 44px;
    color: #fff;
    display: flex;
    flex-direction: column;	
}

.smallBredcm
{
	font-size: 18px;
    color: #fff;
}

.smallBredcm a
{
    color: #fff;
}

.list-search-section
{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;	
    z-index: 0;
}

.listing-search-input
{
	border-radius: 50px;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 9px;
    max-height: 68px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;	
}

.listing-search-input input, .listing-search-input input:focus {
    font-size: 16px;
    border: none;
    background: #fff;
    margin: 0;
    padding: 0;
    height: 44px;
    line-height: 44px;
    box-shadow: none;
}

.listing-search-input button.button {
    all: unset;
    font-size: 18px;
    font-weight: 600;
    padding: 0 40px;
    margin-right: 1px;
    height: 50px;
    outline: none;
    border-radius: 50px;
    background: linear-gradient(to right, rgb(6 242 128 / 80%) 0%, rgb(1 1 1 / 42%) 100%);
    cursor: pointer;
}

.listing-search-input .main-search-input-item:nth-last-child(2) {
    border-right: none;
    padding-left: 15px;
    padding-right: 15px;
}

.filter_section
{
    padding: 40px 0;	
}

.filterWrapper
{
	display: grid;
    grid-template-columns: 75% 25%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.filterWrapper h6
{
	margin-bottom:0 !important;
	margin-top:0 !important;
	align-items: center;
    display: flex;
}

.filterWrapper h6 b
{
	margin-left:5px;
	margin-right:5px;
}

.grid_wrapper
{
    display: flex;
    justify-content: space-evenly;
}

.grid_wrapper ul
{
	display:flex;
	align-items: center;
}

.grid_wrapper ul li
{
	margin-left:5px;
	margin-right:5px;
}

.sort_Wrapper
{
	display: flex;
    justify-content: space-between;
}

.sort_Wrapper label
{
	margin-bottom:0;
    display: flex;
    align-items: center;
    margin-right: 0px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: unset;	
}

.pagination_section
{
	padding: 20px 0 40px 0;	
}

.pagination_section .card-body
{
	background-color: #ffff;
}

.pagination_section .box-shadow-0
{
	background-color: #ffff;
}

.pagination_section_details .card-body
{
    margin-top: 0px;
	border-top: unset;	
}

.pagination_section_details
{
    padding: 70px 0 40px 0;
}

/* Listing Page */

/* Detail Page Styling */

.reviewHead
{
	font-size:20px;
	font-weight:600;
	margin-bottom:20px;
}

.reviewCard
{
    height: auto;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
	margin-bottom: 10px;
}

.reviewWritebox
{
	margin-bottom: 20px;
}

.customStarName
{
	display: flex;
}

.customerName
{
	font-size:18px;
	font-weight:600;
	margin-right: 20px;
}

.customstars
{
    line-height: 24px;	
}

.reviewWritebox
{
	border-radius: 4px;
}

/* Details Page Styling End */

/* Login Styling */

.login_section
{
	padding: 40px 0;
}

.loginBox
{
	padding: 20px;
    border-radius: 5px;	
	background-color: #ffff; 
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #04f27f;
    background-color: #04f27f;
}

.loginBox .btn-primary
{
	display: flex;
    /* flex-direction: column; */
    justify-content: center;
    height: 50px;
    background-color: #04f27f;
    font-size: 20px;
	width: 50%;
}

.loginBox .btn-primary:hover
{
	border-color: #03d06d;
	background-color: #03d06d;
}

.login_title
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 0 10px 0;	
}

.login_mb20
{
	margin-bottom: 20px;
}

.custom_forgotPwd
{
	text-align: right;
    margin-top: 15px !important;	
}

.customLogRegisWrapper .submit
{
	display: flex;
    justify-content: center;	
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #03d06d;
    border-color: #03d06d;
}

/* Login Styling End */

/* Business Partner Styling */

.education-categories .btn-primary
{
	border-color: #04f27f;
    background-color: #04f27f;	
}

.education-categories .btn-primary:hover, .education-categories .btn-primary:focus, .education-categories .btn-primary:active
{
	border-color: #04f27f;
    background-color: #04f27f;	
}


.alreadyHaveAccountBP
{
	margin-top: 20px;
	text-align:center;
}

/* Business Partner Styling End */

/* Contact Us Styling */

.contact-inside 
{
    background: #f8f8f8;
}

.area-padding 
{
    padding: 50px 0px;
}

.cnt-bg {
    background: #fff;
    padding: 20px;
    border: 1px solid #e7e7e7;
}

.office-city h4 {
    margin-bottom: 30px;
    font-weight: 600;
    color: #444;
    font-size: 20px;
}

.contact-icon {
    display: block;
    overflow: hidden;
}

.single-icon {
    margin-bottom: 30px;
}

.single-icon i {
    color: #fff;
    float: left;
    font-size: 24px;
    height: 50px;
    line-height: 48px;
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: center;
    width: 50px;
    border: 1px solid #03d06d;
    background: #03d06d;
    border-radius: 2px;
}

.single-icon p {
    color: #444;
    font-size: 15px;
    line-height: 24px;
}

.contact-form-bg {
    background: #fff;
    padding: 20px;
}

.contact-form input[type="text"], .contact-form input[type="email"] {
    border: 1px solid #eaeef9;
    border-radius: 4px;
    height: 48px;
    margin-bottom: 15px;
    padding-left: 20px;
    width: 100%;
    background: transparent;
}

.contact-form input {
    background: #ffffff !important;
    height: 48px;
    margin-bottom: 0 !important;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
}

.contact-btn {
    background: #03d06d;
    border: 1px solid #03d06d;
    color: #fff;
    display: block;
    font-size: 16px;
    margin-top: 5px;
    padding: 10px 20px;
    transition: 0.4s;
    border-radius: 2px;
}

.contact-page {
    margin-top: 50px;
}

.map iframe {
    width: 100%;
}

/* Contact Us End */

/* Terms & Conditions */

.tc_section
{
    padding: 40px 0;
	background: #f9f9f9;	
}

h2.title
{
	font-weight:600;
}

.content h3
{
	font-size: 18px;
    font-weight: 600;
    color: #717171;	
}

.content ol li
{
	margin-bottom:10px;
}

.content p
{
	color: #717171;		
}

/* Terms & Conditions End */

.userli
{
 position:relative;
line-height: 32px !important;
    height: 74px;
}

.userdropmenuli
{
    width: 240px !important;
    left: -40px !important;
}

.userli a span.fa-caret-down
{
    margin-left: 7px !important;
}
.bannersec{
    z-index: 0;
}

.col-md-12.col-sm-12.col-xs-12.text-center {
    margin-bottom: 15px;
}

.pac-container:after {
    background-image: none !important;
    height: 0px;
}

/* Styling on 1nov 2021 Start */

.customstars i
{
	color:#FFBB00;
}

.reviewButtonWrapper
{
	margin-bottom:20px;
}

.swiper-container
{
  height: 500px !important;
}

.swiper-slide
{
    width: 100% !important;
    height: 100% !important;
    object-fit: contain !important;
    display: flex !important;	
}

.customCardStyling
{
    padding: 20px;	
}

#tempt4 .swiper-wrapper .swiper-slide img 
{
    width: 100% !important;
    object-fit: contain !important;
    display: flex !important;
}

#tempt2 .template-tab 
{
    display: block;
    background: #fff;
    color: #6f6f6f;
    border-radius: 6px;
    margin-left: 15px;
}

#tempt7 .template-tab
{
	margin-right: 15px;
}	

/* Styling on 1nov 2021 end */