/* ---------------------------------- */
/* Main Search Container
------------------------------------- */
.main-search-container {
	display: block;
	width: 100%;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	height: 620px;
	z-index: 9;
}

.main-search-container.centered { text-align: center; }
.main-search-input { text-align: left; }

.main-search-container:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	display: block;
	background: linear-gradient(to right, rgba(255,255,255,0.99) 20%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0) 95%);
}

.main-search-container h2 {
	font-size: 42px;
}

.main-search-container h4 {
	font-size: 24px;
	font-weight: 300;
	color: #777;
	line-height: 32px;
}

/* Video */
.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	overflow: hidden;
}
.main-search-container video {
	top: 50%;
	transform: translateY(-52%);
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -10;
	background-size: cover;
	transition: 1s opacity;
	position: absolute;
}



/* Inner Content */
.main-search-inner {
	position: relative;
	display: block;
	top: 50%;
    transform: translate(0, -50%);
	padding-bottom: 30px;
}

.main-search-inner select {
	border: none;
	padding-top: 2px;
	padding-bottom: 0;
	height: 44px;
	box-shadow: none;
}


/* Main Search Input */
.main-search-input {
	margin-top: 50px;
	border-radius: 50px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12);
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 9px;
	max-height: 68px;
}

.main-search-input-item {
	flex: 1;
	border-right: 1px solid #e9e9e9;
	margin-top: 3px;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
}

.main-search-input  .main-search-input-item:nth-last-child(2) {
	border-right: none;
	padding-left: 15px;
	padding-right: 15px;
}

.main-search-input-item.location a {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	padding: 10px;
	background: #fff;
}

.main-search-input-item.location a:hover { color: #66676b; }

.main-search-input input,
.main-search-input input:focus {
	font-size: 16px;
	color:#333333c7;
	border: none;
	background: #fff;
	margin: 0;
	padding: 0;
	height: 44px;
	line-height: 44px;
    box-shadow: none;
}

.main-search-input button.button {
	font-size: 18px;
	font-weight: 600;
	padding: 0 40px;
	margin-right: 1px;
	height: 50px;
	outline: none;
}

 
.category-small-box-alt:hover .category-box-counter-alt { 
    color: #fff;  
    background-color: #f91942;
}
 
.category-small-box-alt img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 4px;
    z-index: 9;
    opacity: 0;
    transition: 0.4s;
}
 
.category-small-box-alt:before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background-color: #333;
    border-radius: 4px;
    opacity: 0;
    z-index: 10;
    transition: 0.4s;
}
.category-small-box-alt:hover:before { opacity: 0.7; }
.category-small-box-alt:hover img {
    opacity: 1;
}

.main-search-input form, .listing-search-input form
{
	width: 100%;
}

.fromsearchsection
{
	display: flex;
    width: 100%;
    justify-content: space-between;
}

.fromsearchsection input
{
 color: #333333c7;
}


.chosen-select
{
	border: none;
    height: 40px;
    width: 100%;
    background-color: unset;
    color: #757575;
}

/* Media Queries For Small Category Boxes */
@media (max-width: 768px) {
    .category-small-box-alt { width: calc(100% * (1/2) - 25px); }
}
@media (min-width: 768px) {
    .category-small-box-alt { width: calc(100% * (1/3) - 25px); }
}
@media (min-width: 992px) {
    .category-small-box-alt { width: calc(100% * (1/3) - 25px); }
}
@media (min-width: 1240px) {
    .category-small-box-alt { width: calc(100% * (1/5) - 25px); }
}
 
@media (max-width: 1240px) {
    .msps-shapes, .main-search-photo-slider, .msps-slider .slick-slide, .msps-slider {
        height: 520px;
        width: 470px;
    }
    .main-search-photo-slider { top: 40px; }
 
    .highlighted-categories-headline, .highlighted-categories, .main-search-headlines {
        padding-right: 500px;
    }
}
 
@media (max-width: 992px) {
 
    .highlighted-categories-headline, .highlighted-categories, .main-search-headlines {
        padding-right: 0px;
    }
    .main-search-photo-slider { display: none; }
    .msps-container {}
    .msps-shapes { left: 0; right: 0; width: 100%;}
    .container.msps-container { overflow: hidden; padding: 0; margin: 0; width: 100%;}
    .shape-b { display: none; }
}
 
@media (max-width: 991px) {
    .main-search-input {
        border-radius: 0;
        display: block;
        padding: 0;
        max-height: 100%;
        background-color: transparent;
        box-shadow: none;
    }
    .main-search-container.plain-color { height: 700px; }
    .main-search-container.plain-color .main-search-input { margin-top: 30px;}
    .main-search-container.plain-color h4 { margin-top: 0; }
    .main-search-container.plain-color h2 { margin-bottom: 0; }
    .main-search-container.plain-color .highlighted-categories-headline { margin-top: 30px; }
}

/* ---------------------------------- */
/* Google Autocomplete
------------------------------------- */
body .pac-item {
    font-size: 12px;
    color: #999;
    cursor: pointer;
    transition: 0.2s;
    padding: 5px 15px;
}

body .pac-container {
    border-radius: 0 0 4px 4px;
    box-shadow: none;
    border: 1px solid #e0e0e0;
    border-top: none;
    box-sizing: content-box;
    margin-top: -2px;
    font-family: "Raleway";
}


/* Autocomplete for homepage */
.main-search-input .pac-container {
    left: 0 !important;
    top: 54px !important;
}

.input-with-icon i,
.main-search-input-item.location a {
	padding: 5px 10px;
	z-index: 101;
}

#autocomplete-container,
#autocomplete-input {
    position: relative;
    z-index: 101;
}

.main-search-input.gray-style .main-search-input-item.location a,
.main-search-input.gray-style #autocomplete-input { background: transparent; }
.main-search-input.gray-style #autocomplete-input { padding-right: 36px; }

@media (min-width: 992px) {
	.main-search-input .pac-container {
	    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
	    border: none;
	    padding-top: 45px;
	    z-index: 9;
	    left: 0 !important;
	    top: 1px !important;
	    border-radius: 4px;
	}

	.main-search-input.gray-style .pac-container {
	    box-shadow: none;
	    border: 1px solid #e0e0e0;
	}

	.main-search-input-item,
	.main-search-input-item #autocomplete-input {
		padding: 0 15px;
	}
}


/* ---------------------------------- */
/* Range Slider
------------------------------------- */
.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  background: #e6e6e6;
  position: relative;
  margin: 25px 0;
}

.rangeslider--horizontal {
  height: 3px;
  width: 100%;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #66676b;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
	background: white;
	border: 2px solid #66676b;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
	cursor: pointer;
	display: inline-block;
	position: absolute;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	width: 20px;
	height: 20px;
  	top: 50%;
  	transform: translateY(-50%);
}

.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}

.range-output {
	font-size: 18px;
	font-weight: 400;
	color: #666;
}
.range-output:after {
	content: "km";
}

.data-radius-title {
	font-style: normal;
	font-size: 15px;
	color: #888;
	font-weight: 400;
	margin-top: 0;
	display: block;
}

/* ---------------------------------- */
/* Chosen Plugin
------------------------------------- */
.chosen-container {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	zoom: 1;
	*display: inline;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.chosen-container * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.chosen-container .chosen-drop {
	position: absolute;
	top: 100%;
	left: 0;
	display: block;
	z-index: 990;
	width: 100%;
	border: 1px solid #dbdbdb;
	background-color: #fff;
	border-top: 0;
	border-radius: 0 0 4px 4px;
/*	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08);*/
}

.chosen-container.chosen-with-drop .chosen-drop { left: 0; }
.chosen-container a { cursor: pointer; }

/* Single Select box */
.chosen-container-single .chosen-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 18px;
	height: 51px;
	line-height: 50px;
	border: 1px solid #dbdbdb;
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08);
	background-color: #fff;
	color: #888;
	text-decoration: none;
	white-space: nowrap;
	font-weight: 500;
	border-radius: 4px;
}

.chosen-container-active.chosen-with-drop .chosen-single { border-radius: 4px 4px 0 0; }

.chosen-container-active .chosen-drop,
.chosen-container-single .chosen-drop {
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}
.chosen-container-active.chosen-with-drop .chosen-drop {
	opacity: 1;
	visibility: visible;
}

.chosen-container-single .chosen-default { color: #999; }

.chosen-container-single .chosen-single span {
	display: block;
	overflow: hidden;
	margin-right: 26px;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #888;
}

.chosen-container-single .chosen-single-with-deselect span { margin-right: 38px; }

.chosen-container-single .chosen-single div {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 18px;
	height: 100%;
}


.chosen-container-single .chosen-single div:after {
	content: "\f078";
    font-family: 'Font Awesome 5 Pro';
    top: 2px;
    font-size: 17px;
    margin: 1px 0 0 0;
    right: 20px;
    position: relative;
    width: auto;
    height: auto;
    display: inline-block;
    color: #c0c0c0;
    float: right;
    font-weight: normal;
    transition: transform 0.3s;
    transform: translate3d(0,0,0) rotate(0deg);
}

.chosen-container-active.chosen-with-drop .chosen-single div:after { transform: translate3d(0,0,0) rotate(180deg); }

.chosen-container-single .chosen-search {
	position: relative;
	z-index: 1010;
	margin: 0;
	padding: 3px 8px;
	white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
	margin: 1px 0;
	padding: 6px 20px 6px 6px;
	width: 100%;
	height: 40px;
	outline: 0;
	margin-bottom: 10px !important;
	border: 1px solid #ddd !important;
	background-color: #fbfbfb !important;
	display: block;
	position: relative;
	z-index: 9;
	background-color: #fafafa;
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.04);
}

.chosen-container-single .chosen-search:before {
	content: "\f002";
	font-family: "FontAwesome";
	font-size: 15px;
	margin: 0 15px 0 0;
	top: 12px;
	position: relative;
	width: 11px;
	height: 5px;
	display: inline-block;
	color: #aaa;
	float: right;
	font-weight: normal;
	z-index: 10;
	transition: transform 0.3s;
}

.chosen-container-single .chosen-drop {
	margin-top: -1px;
	background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
	position: absolute;
	left: -9999px;
}


/* Results */
.chosen-container .chosen-results {
	color: #888;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 4px 8px 0;
	padding: 0 4px 0 8px;
	max-height: 300px;
}

.chosen-container .chosen-results li {
	display: none;
	margin: 0;
	padding: 9px 10px;
	list-style: none;
	line-height: 15px;
	word-wrap: break-word;
	-webkit-touch-callout: none;
}

.chosen-container-multi .chosen-results li { padding: 10px 18px; transition: color 0.3s; }

.chosen-container .chosen-results li.active-result {
	display: list-item;
	cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
	display: list-item;
	color: #ccc;
	cursor: default;
}

.chosen-container .chosen-results li.highlighted {
	background-color: transparent;
	border-radius: 0;
	color: #66676b;
	transition: color 0.2s ease-in-out;
}

.chosen-container .chosen-results li.no-results {
	color: #888;
	display: list-item;
	background-color: #fff;
}

.chosen-container-multi .chosen-results li.no-results { background-color: #fff; }

.chosen-container .chosen-results li.group-result {
	display: list-item;
	font-weight: bold;
	cursor: default;
}

.chosen-container .chosen-results li.group-option { padding-left: 15px; }

.chosen-container .chosen-results li em {
	font-style: normal;
	text-decoration: underline;
}


/* Multi Selectbox */
.chosen-container-multi .chosen-choices {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 18px;
	height: auto;
	border: 1px solid #dbdbdb;
	background-color: #fff;
	text-decoration: none;
	white-space: nowrap;
	line-height: 33px;
	cursor: pointer;
	margin: 0;
	border-radius: 4px;
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.06);
}

.chosen-container-multi.chosen-with-drop .chosen-choices {
	border-radius: 4px 4px 0 0;
}

.chosen-container-multi .chosen-choices li {
	float: left;
	list-style: none;
}

.chosen-container-multi .chosen-choices li.search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	margin: 0;
	padding: 0;
	height: 49px;
	outline: 0;
	border: 0 !important;
	background: transparent !important;
	color: #888;
	line-height: normal;
	font-weight: 500;
	box-shadow: none;
	transition: none;
}

.chosen-container-multi .chosen-choices li.search-choice {
	position: relative;
	margin: 10px 6px 0 -4px;
	padding: 0 25px 0 8px;
	max-width: 100%;
	background-color: #66676b;
	line-height: 29px;
	color: #fff;
	cursor: default;
	font-weight: 500;
	border-radius: 3px;
}

.chosen-container-multi .chosen-choices li.search-choice span { word-wrap: break-word; }

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	position: absolute;
	top: -2px;
	right: 7px;
	display: block;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:before {
	content: "\f00d";
	font-family: "FontAwesome";
	font-size: 13px;
	top: 1px;
	position: relative;
	width: 11px;
	height: 5px;
	display: inline-block;
	color: #fff;
	float: right;
	font-weight: normal;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
	padding-right: 5px;
	border: 1px solid #ccc;
	background-color: #e4e4e4;
	color: #888;
}

.chosen-container-multi .chosen-choices li.search-choice-focus { background: #d4d4d4; }

.chosen-container-multi .chosen-results {
	margin: 0;
	padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
	display: list-item;
	color: #ccc;
	cursor: default;
}

.chosen-container.chosen-container-multi .chosen-drop { opacity: 0; visibility: hidden; padding: 10px 0; }
.chosen-container.chosen-container-multi.chosen-with-drop.chosen-container-active .chosen-drop { opacity: 1; visibility: visible; }


/* Active */
.chosen-container-active .chosen-single,
.chosen-container-active .chosen-choices,
.chosen-container-active.chosen-with-drop .chosen-single { border: 1px solid #e0e0e0; }

.chosen-container-active.chosen-with-drop .chosen-single div {
	border-left: none;
	background: transparent;
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] { 	color: #888 !important; }

/* Custom Scrollbar for -wekbit */

.chosen-drop ::-webkit-scrollbar { width: 10px; }

.chosen-drop ::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.05);
    border-radius: 10px;
}

.chosen-drop ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
}

.chosen-drop ::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
}


/* Input With Icon */
.input-with-icon {
	position: relative;
}

.input-with-icon i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	padding: 0 0 0 19px;
	color: #999;
	transition: 0.2s;
	pointer-events: none;
}

.input-with-icon input { padding-left: 47px !important }
.input-with-icon.location input { padding-left: 20px !important }

.input-with-icon.location a i {
	position: absolute;
	right: 1px;
	left: auto;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	padding: 15px 20px 15px 15px;
	background: #fff;
	pointer-events: all
}

.input-with-icon.location a i:hover {
	color: #66676b;
}


/* ---------------------------------- */
/* Sort by custom select
------------------------------------- */
.sort-by {
	position: relative;
	top: 9px;

}
.sort-by label,
.sort-by .sort-by-select {
	display: inline-block;
	float: right;
}


.sort-by-select select {
	border-radius: 50px;
	color: #777;
	border: none;
	background-color: #f0f0f0;
	height: auto;
	padding: 7px 7px 7px 15px;
	line-height: 22px;
	box-shadow: none;
}

.sort-by label {
	line-height: 40px;
	margin-top: 1px;
	padding: 0;
}

.sort-by .chosen-container-single .chosen-single {
    height: 36px;
    line-height: 34px;
    border: 1px solid #fff;
    background-color: #fff;
    width: 100%;
    display: inline-block;
    padding: 0 14px 0 16px;
    box-shadow: none;
    color: #666;
    font-weight: 600;
    font-size: 15px;
    border-radius: 50px;
    transition: all 0.3s;
    display: inline-block;
}

.sort-by .chosen-container-active .chosen-choices,
.sort-by .chosen-container-active.chosen-with-drop .chosen-single,
.sort-by .chosen-single:hover {
    background: #f3f3f3;
}

.sort-by .chosen-container .chosen-drop {
	padding-top: 10px;
    border: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-radius: 3px;
    width: 200px;
    margin-left: 10px;
    background: #fff;
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.08);
	z-index: 999;
}


.sort-by .chosen-container.chosen-with-drop .chosen-drop,
.sort-by .chosen-container .chosen-drop {left: auto; right: -1px; }

.sort-by .chosen-container-single .chosen-single div:after {
	color: #66676b;
	right: 0;
}

.sort-by .chosen-container-single .chosen-default { color: #66676b; }

.sort-by .chosen-container-single .chosen-single span {
	margin-right: 0px;
	color: #666;
	font-weight: 600;
	transition: all 0.2s;
}

.sort-by .chosen-container-single .chosen-single div {
    position: relative;
    line-height: 33px;
    top: 0;
	margin-left: 0;
    display: inline-block;
}

.sort-by .chosen-container-single .chosen-single span {
    display: inline-block;
    margin-right: 0;
    vertical-align: top;
}



/* ---------------------------------- */
/* Custom Chosen Dropdown
------------------------------------- */
.main-search-input-item .chosen-container-single .chosen-single,
.main-search-input-item .chosen-single.chosen-container-active {
    position: relative;
    display: block;
    overflow: visible;
    padding: 0 0 0 15px;
    height: 44px;
    line-height: 44px;
    border: 1px solid #fff;
    background-color: #fff;
    color: #888;
    border-radius: 4px 4px 0 0;
    z-index: 100;
    box-shadow: none;
    transition: all 0.3s;
}

/* Active */
.main-search-input-item .chosen-container-active .chosen-single,
.main-search-input-item .chosen-container-active .chosen-choices { border: 1px solid #fff; }

.main-search-input-item .chosen-container-active.chosen-with-drop .chosen-single {
	border: 1px solid #fff;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
}

.main-search-input-item .chosen-container {
	font-size: 16px;
}

.main-search-input-item .chosen-container .chosen-drop {
	border: none;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.15);
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 99;
}

.main-search-input-item .chosen-single:after {
	content: "";
	position: absolute;
	bottom: -5px;
	display: block;
	width: 100%;
	left: 0;
	height: 10px;
	background: #fff;
	z-index: 112;
	opacity: 1;
	tranition: all 0.3s;
}


.main-search-input-item .chosen-container-single .chosen-single span {
    display: inline-block;
    	vertical-align: top;
}

.main-search-input .chosen-container-single .chosen-single div {
	display: inline-block;
	position: relative;
	top: -2px;
}

.main-search-input .chosen-container-single .chosen-search {
    padding: 3px 15px;
    margin-bottom: 5px;
}

.main-search-input .chosen-container-single .chosen-search input[type="text"] {
    margin: 1px 0;
    padding: 6px 20px 6px 6px;
    width: 100%;
    height: 40px;
    outline: 0;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    display: block;
    position: relative;
    z-index: 9;
    background-color: #fcfcfc;
    border-radius: 4px;
}

.main-search-input-item .chosen-container .chosen-results {
	position: relative;
	z-index: 10000
}


/* Style for gray main input version */
.gray-style .main-search-input-item .chosen-container-single .chosen-single,
.gray-style .main-search-input-item .chosen-single.chosen-container-active {
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
}

.main-search-input-item .chosen-container.chosen-with-drop {
/*	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.08);*/
    border-radius: 4px;
}

.gray-style .main-search-input-item .chosen-single::after { display: none; }

.gray-style .main-search-input-item .chosen-container-active.chosen-with-drop .chosen-single,
.gray-style .main-search-input-item .chosen-container .chosen-drop {
	box-shadow: none;
	border: 1px solid #e0e0e0;
	background: #fff;
}

@media (min-width: 991px) {
	.gray-style .main-search-input-item .chosen-single {
		border-bottom: none !important;
	}
}

.gray-style .main-search-input-item .chosen-container .chosen-drop {
	border-top: none ;
}



/* ---------------------------------- */
/* Input with dropdown
------------------------------------- */
.select-input {
	position: relative;
}

.select-input input { position: relative; z-index: 101; }

.select-input .select {
	position: absolute;
	top: -8px;
}

.select-hidden {
	display: none;
	visibility: hidden;
}

.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 15px;
	color: #fff;
	width: 100%;
	height: 51px;
}

.select-styled { opacity: 0; }

.select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 990;
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid #e0e0e0;
	background-color: #fcfcfc;
	padding: 0 4px;
	padding-top: 8px;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	box-sizing: border-box;
}

.select-list-container {
	padding: 0 4px;
	max-height: 300px;
	overflow: auto;
	display: inline-block;
	width: 100%
}

ul.select-options li {
	margin: 0;
	padding: 0;
	transition: all 0.15s ease-in;
	color: #888;
	margin: 0;
	padding: 10px 10px;
	list-style: none;
	line-height: 15px;
	border-radius: 4px;
}

.select-options li:hover {
	color: #fff;
	background-color: #66676b;
}

.select-options li[rel="hide"] {
  display: none;
}

.select-options ::-webkit-scrollbar { width: 10px; }

.select-options ::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.05);
    border-radius: 10px;
}

.select-options ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.2);
}

 .select-options ::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
}





/* ---------------------------------- */
/* Panel Dropdown
------------------------------------- */
.panel-dropdown {
	position: relative;
	display: inline-block
}

.panel-dropdown a {
	color: #666;
	font-weight: 600;
	font-size: 15px;
	border-radius: 50px;
	padding: 3px 14px;
	transition: all 0.3s;
	display: inline-block;
}

.panel-dropdown.active a,
.panel-dropdown a:hover {
	background: #f3f3f3;
}

.panel-dropdown a:after {
	content: "\f107";
	font-family: "FontAwesome";
	font-size: 16px;
	color: #66676b;
	font-weight: 500;
	padding-left: 0;
	transition: all 0.3s;
	margin-left: 6px;
	display: inline-block;
}

.panel-dropdown.active a:after { transform: rotate(180deg); }


.panel-dropdown .panel-dropdown-content {
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
	position: absolute;
	top: 44px;
	left: 0px;
	z-index: 110;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.18);
	border-radius: 4px;
	box-shadow: 0 12px 35px 2px rgba(0, 0, 0, 0.12);
	padding: 20px 24px;
	overflow-y: auto;
	white-space: normal;
	width: 460px;
}

.panel-dropdown.wide .panel-dropdown-content { width: 570px; }

.panel-dropdown.active .panel-dropdown-content {
	opacity: 1;
	visibility: visible;
}

.listings-container {
	opacity: 1;
	transition: all 0.3s;
}

.fs-inner-container.content.faded-out .listings-container {
	opacity: 0.2;
	background: #fff;
	pointer-events: none;
}


.fs-inner-container.content.faded-out{
	background-color: #fcfcfc;
}

.panel-dropdown .checkboxes label { margin-bottom: 10px; display: block; }
.panel-dropdown-content.checkboxes { padding: 28px; }

.panel-dropdown .row { margin-left: -10px; margin-right: -10px; }

button.panel-cancel,
button.panel-apply {
	background: none;
	padding: 5px 16px;
	display: block;
	outline: none;
	border: none;
	font-weight: 600;
	float: right;
	margin: 0;
	font-size: 15px;
	border-radius: 50px;
	background-color: #66676b;
	color: #fff;
	transition: all 0.3s;
}

button.panel-apply:hover {
	opacity: 0.9;
}

button.panel-apply:active {
	transform: translateY(-2px);
}

button.panel-cancel {
	float: left;
	background-color: #f0f0f0;
	color: #666;
	opacity: 1;
}

button.panel-cancel:hover { background-color: #e9e9e9; }
button.panel-cancel:active { transform: translateY(-2px); }

.panel-buttons {
	width: 100%;
	margin-top: 13px;
}

/* Float Right */
.panel-dropdown.float-right {
	float: right;
}

.panel-dropdown.float-right .panel-dropdown-content {
	left: auto;
	right: 0;
}
