.profile-tab 
{
    display: block;
    margin-bottom: 20px;
	padding: 20px;
    background: #fff;
    color: #6f6f6f;
    border-radius: 6px;
}

.card-subtitle, .card-title {
    font-weight: 400;
    font-size: 20px;
}

.profile-content h2 
{    
	display: flex;
    justify-content: space-between;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 20px;
	color: #495057;	
}

.profile-content table 
{
    width: 100%;
}

a.edit-p 
{
    padding: 10px 10px !important;
    margin: 0 !important;
    line-height: 15px;
    background: #04f27f !important;
    font-weight: 500;
	font-size: 13px;
    color: #fff;
	border-radius: 4px;
}

.profile-content table td 
{
    padding: 10px;
    border: 1px solid #cccccc87;
    color: #6f6f6f;
}

.profileSettingPDiv a i
{
	width: 20px;
}

.leftMenuIcon
{
	width:25px;
}

.card-body h2
{
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 20px;
	color: #495057;		
}

/* Edit Profile */

.form-group 
{
    margin-bottom: 15px;
}

label 
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form-control 
{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btnCustom
{
	color: #fff;
    background-color: #34f497;
    border-color: #34f497;	
}

/* Edit Profile End */


/* Manage Informations Start */

.customBannerStyling 
{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    padding: 20px 10px;
    border-radius: 4px;
}


/* Manage Informations End */

/* Change Password */

.changepwdPT
{
	padding:0;
}

/* Change Password */


/* Subscriptions Start */

.subscriptionBody {
    padding: 0 30px;
    height: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    margin-top: 50px;
    grid-row-gap: 40px;
}

.planBoxWrapper 
{
    border-radius: 4px;
    background-color: #04F27F;
    position: relative;
}

.greyBck 
{
    background-color: #d1d4d2;
}

.planShapeDiv 
{
    top: -18px;
    position: relative;
}

.planImageText 
{
    position: relative;
}

.planShapeDiv img 
{
    width: 100%;
}

.planTextAmount 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.planValue 
{
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.planAmount 
{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: #fff;
}

.planBenifits ul {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    margin-top: 20px;
}

.planBenifits ul li {
    line-height: 30px;
    position: relative;
}

.planBenifits ul li:before {
    content: '\2192';
    position: absolute;
    font-family: FontAwesome;
    left: 70px;
    font-weight: 100;
    font-size: 10px;
    top: 1px;
}

.planDisp {
    padding: 0 15px;
    text-align: center;
}

.greyBck .planBuyButton {
    color: #fff;
    background-color: #504e4e;
}

.planBuyButton {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #f2040d;
    width: 50%;
    height: 35px;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}


/* Subscriptions End */

/* Template Themes Start */

/* Template Design Styling */

.card-body
{    
    padding: 10px;
	margin-top: 30px;
	background-color: #fff;
	border-top: 1px solid #e2dede;	
}

.panel-default 
{
    border-color: #ECECEC;
    height: auto;
}


/* Template 1 */

.template-tab 
{
    display: block;
    background: #fff;
    color: #6f6f6f;
    border-radius: 6px;
}

.titleHead {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
}

.template-content table td {
    padding: 10px;
    border-bottom: 1px solid #cccccc87;
    color: #6f6f6f;
}

.template-content table tr:last-child td {
    border-bottom: unset;
}

/* Template 1 End */

/* Template 2 */

#tempt2 .template_content 
{
    display: flex;
}

#tempt2 .topBannerWrapper 
{
    display: flex;
    justify-content: space-between;
}

#tempt2 .leftBanner img
{
	height: 340px;	
}

#tempt2 .topBannerWrapper img 
{
    width: 80px;
}

/* Template 2 End */

/* Template 3 */

.tempt3_pd
{
	background-color: #FF7575;	
}

#tempt3 .template_content 
{
    display: grid;
    grid-template-columns: 49% 49%;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

#tempt3 .bottomBanner img
{
	width:100%;
}

#tempt3 table
{
	width:100%;
}

/* Template 3 End */

/* Template 4 */

#tempt4 .swiper-wrapper .swiper-slide img 
{
	width:100%;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    content: 'prev';
    color: #000;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    content: 'next';
	color: #000;
}

/* Template 4 End */


/* Template 6 */

.tempt6_pd
{
	background-color: #FF7575;	
}

#tempt6 .template_content 
{
    display: grid;
    grid-template-columns: 49% 49%;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

#tempt6 .bottomBanner img
{
	width:100%;
}

#tempt6 table
{
	width:100%;
}

/* Template 6 End */

/* Template 7 */

#tempt7 .template_content 
{
    display: flex;
}

#tempt7 .topBannerWrapper 
{
    display: flex;
    justify-content: space-between;
}

#tempt7 .topBannerWrapper img 
{
    width: 80px;
}

/* Template 7 End */

/* Template 8 */

#tempt8.template_content 
{
    display: flex;
}

#tempt8 .topBannerWrapper 
{
    display: flex;
    justify-content: space-between;
}

#tempt8 .topBannerWrapper img 
{
    width: 80px;
}

#tempt8 .topBannerWrapper img
{
	width:100%;
}

/* Template 8 End */

/* Template 9 */

#tempt9.template_content 
{
    display: flex;
}

#tempt9 .topBannerWrapper 
{
    display: flex;
    justify-content: space-between;
}

#tempt9 .topBannerWrapper img
{
	width:100%;
}

#tempt9 table tr td:first-child
{
    background-color: #004212;
    color: #fff;
}

.tempt9_pd .template-content table tr td:first-child {
	background-color: #004212;
    color: #fff;
    padding: 5px;	
}

/* Template 9 End */

/* Template 10 */

#tempt10.template_content 
{
    display: flex;
}

#tempt10 .topBannerWrapper 
{
    display: flex;
    justify-content: space-between;
}

#tempt10 .topBannerWrapper img
{
	width:100%;
}

#tempt10 table tr td:first-child
{
    background-color: #004212;
    color: #fff;
}

.tempt9_pd .template-content table tr td:first-child {
    padding: 2px;
    border-bottom: 1px solid #02581a;
    color: #6f6f6f;
}

.tempt10_pd .template-content table tr td:first-child {
    padding: 2px;
    border-bottom: 1px solid #02581a;
    color: #6f6f6f;
}

.theme9HeadField
{
    padding: 8px;
	background-color: #025218;	
}

/* Template 10 End */

/* Template Design Styling End */

@media (min-width:1350px) and (max-width:1449px) {  
 
}
@media (min-width:1700px) and (max-width:2000px) {
.swiper-wrapper img {
    width: 100%;
}

#tempt10 .topBannerWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#tempt9 .topBannerWrapper img {
    width: 100%;
    margin-bottom: 20px;
}
}

.templateThemePDiv
{
	
}

.templateThemeCardBody
{
    padding: 10px;
    margin-top: unset;
    background-color: #fff;
    border-top: unset;
	background-color: #222e3c;	
}

.card.templateThemePDiv
{
	margin-bottom:unset;
}

.card-body.templateThemeCardBody .card-body
{
	border-top: unset;
	margin:unset;
	height: 700px;
    box-sizing: border-box;
    padding: 10px;	
}

.templateThemeCardBody .card
{
	height: 700px;
}

.templateThemePDiv .panel-body
{
	padding:unset;
	height: auto;
}

.buttonTopLine
{
	border-top:1px solid #ececec;
}

.canaplWrap
{
	margin-top:10px;
}

#tempt3 .template-tab
{
	background: #FF7575;	
}

#tempt3 .template-tab td
{
	color:#fff;	
}

#tempt6 .template-tab
{
	background: #FF7575;	
}

#tempt6 .template-tab td
{
	color:#fff;	
}

.theme9HeadField 
{
    padding: 8px;
    background-color: #025218;
}

.info-box {
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px;
    display: flex;
    justify-content: space-evenly;
}

.info-box i {
    font-size: 25px;
}

.info-box span {
    background: none !important;
}

.info-box-content span {
    font-size: 18px;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,.15);
    margin-bottom: 30px;
}
/* Template Themes End */
.info-box 
{
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px;
    display: flex;
    justify-content: space-evenly;
}

.info-box i 
{
    font-size: 25px;
}

.info-box-text {
    font-size: 14px;
    font-weight: 600;
}

.info-box span 
{
    background: none !important;
}

.info-box-content span 
{
    font-size: 18px;
}

.dropdown-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,.15);
    margin-bottom: 30px;
}

.dynNum 
{
    margin-top: 20px;
}

.gradientBox 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: auto;
    position: relative;
    color: #fff;
    border-radius: 50%;
}

.info-box-content span 
{
    font-size: 18px;
    width: 70px;
    height: 70px;
    color: #000;
    background: #fff !important;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.gradientBox.ycolor 
{
    background: linear-gradient(180deg, #F1C40F 0%, rgb(0 0 0 / 32%) 100%);	
}

.gradientBox.bcolor 
{
    background: linear-gradient(180deg, #417ACE 0%, rgba(0 0 0 / 32%) 100%);
}

.gradientBox.gcolor 
{
    background: linear-gradient(180deg, #41CE4F 0%, rgba(0 0 0 / 32%) 100%);
}


#timepicker_openingTime .input-group-text,
#timepicker_closingTime .input-group-text
{
	padding: 9.4px;	
}

.custom_inputGT
{
	padding: 9.4px;	
}


@media only screen and (max-width: 480px) {

.subscriptionBody {
    padding: 0;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 5%;
    margin-top: 50px;
}

.planBoxWrapper 
{
	margin-bottom: 50px;
}

}


.input-icon {
position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
	font-style: normal;
}

.input-icon > input {
  padding-left: 25px;
	padding-right: 0;
}

.input-icon-right > i {
  right: 0;
}

.input-icon-right > input {
  padding-left: 0;
  padding-right: 25px;
  text-align: right;
}
